<!--start header-->
<section class="welcome_area bg-img background-overlay" style="background-image: url(assets/img/bg-img/casual-cute-elegant-428338.jpg);background-size: contain;background-position:right;">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="hero-content">
          <h6>asoss</h6>
          <h2>New Collection</h2>
          <a href="#" class="btn essence-btn">view collection</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--start header-->

<!--start categories-->
<div class="top_catagory_area section-padding-80 clearfix">
  <div class="container">
    <div class="row justify-content-center">
      <!-- Single Catagory -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(assets/img/bg-img/bg-2.jpg);">
          <div class="catagory-content">
            <a href="#">Clothing</a>
          </div>
        </div>
      </div>
      <!-- Single Catagory -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(assets/img/bg-img/bg-3.jpg);">
          <div class="catagory-content">
            <a href="#">Shoes</a>
          </div>
        </div>
      </div>
      <!-- Single Catagory -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(assets/img/bg-img/bg-4.jpg);">
          <div class="catagory-content">
            <a href="#">Accessories</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end categories-->

<!--start new sale-->
<div class="cta-area">
  <div class="container">
    <div class="row cta-content">
      <div class="col-md-6">
        <img src="assets/img/bg-img/bg-5.jpg" />
      </div>
      <div class="col-md-6">
        <div class="cta--text">
          <h6>-60%</h6>
          <h2>Global Sale</h2>
          <a href="#" class="btn essence-btn">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end new sale-->

<!--start parteners-->
<div class="brands-area d-flex align-items-center justify-content-between">
  <!-- Brand Logo -->
  <div class="row">
    <div class="single-brands-logo col-md-2">
      <img src="assets/img/core-img/brand1.png" alt="">
    </div>
    <div class="single-brands-logo col-md-2">
      <img src="assets/img/core-img/brand2.png" alt="">
    </div>
    <div class="single-brands-logo col-md-2">
      <img src="assets/img/core-img/brand3.png" alt="">
    </div>
    <div class="single-brands-logo col-md-2">
      <img src="assets/img/core-img/brand4.png" alt="">
    </div>
    <div class="single-brands-logo col-md-2">
      <img src="assets/img/core-img/brand5.png" alt="">
    </div>
    <div class="single-brands-logo col-md-2">
      <img src="assets/img/core-img/brand6.png" alt="">
    </div>
  </div>
</div>
<!--end parteners-->



<!--start products details-->
<div class="product-details section-padding-80">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/img/product-img/product-big-2.jpg">
    </div>

    <div class="col-md-6 product-info">
      <p>MANGO</p>
      <h2>One Shoulder Glitter Midi Dress</h2>
      <p class="price">$49.00</p>
      <p class="desc">
        Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna vehicula,
        nec maximus est sollicitudin.
      </p>
      <button type="submit" name="addtocart" value="5" class="btn essence-btn">Add to cart</button>
    </div>
  </div>
</div>
<!--end products details-->

<!--start footer-->
<footer class="footer_area clearfix">
  <div class="container">



  </div>
</footer>
<!--end footer-->