<!--start selcted category products-->
<div class="selected-product text-center" style="background-image: url(assets/img/bg-img/breadcumb.jpg);">
  <div class="overlay"></div>
  <h2>category</h2>
</div>

<div class="products container section-padding-80">
  <div class="row">
    <!--start categories side bar-->
    <div class="col-md-3">
      <h3 class="widget-title mb-30">categories</h3>
      <ul class="list-group list-group-flush categories-list">
        <li class="list-group-item"><a>Cras justo odio</a></li>
        <li class="list-group-item"><a>Dapibus ac facilisis in</a></li>
        <li class="list-group-item"><a>Morbi leo risus</a></li>
        <li class="list-group-item"><a>Porta ac consectetur ac</a></li>
        <li class="list-group-item"><a>Vestibulum at eros</a></li>
        <li class="list-group-item"><a>Cras justo odio</a></li>
        <li class="list-group-item"><a>Dapibus ac facilisis in</a></li>
        <li class="list-group-item"><a>Morbi leo risus</a></li>
        <li class="list-group-item"><a>Porta ac consectetur ac</a></li>
        <li class="list-group-item"><a>Vestibulum at eros</a></li>
      </ul>
    </div>
    <!--end categories side bar-->

    <!--start products list-->
    <div class="col-md-9">
      <div class="row">
        <!--start product box-->
        <div class="product-box col-md-4">
          <img src="assets/img/product-img/product-2.jpg">
          <div class="product-info">
            <p class="cat">category</p>
            <h4>product name</h4>
            <p class="price">$55.00</p>
          </div>
        </div>
        <!--end product box-->

        <!--start product box-->
        <div class="product-box col-md-4">
          <img src="assets/img/product-img/product-2.jpg">
          <div class="product-info">
            <p class="cat">category</p>
            <h4>product name</h4>
            <p class="price">$55.00</p>
          </div>
        </div>
        <!--end product box-->

        <!--start product box-->
        <div class="product-box col-md-4">
          <img src="assets/img/product-img/product-2.jpg">
          <div class="product-info">
            <p class="cat">category</p>
            <h4>product name</h4>
            <p class="price">$55.00</p>
          </div>
        </div>
        <!--end product box-->

      </div>
    </div>
    <!--end products list-->
  </div>
</div>
<!--end selcted category products-->