<!--start selcted category products-->
<div class="selected-product text-center" style="background-image: url(assets/img/bg-img/breadcumb.jpg);">
  <div class="overlay"></div>
  <h2>category</h2>
</div>

<div class="products container section-padding-80">
  <div class="row">
    <!--start categories side bar-->
    <div class="col-md-3">
      <h3 class="widget-title mb-30">categories</h3>
      <ul  class="list-group list-group-flush categories-list">
          <li class="list-group-item" ><a routerLink="/categories" style="font-weight: bolder"> all categories </a></li>
        <li *ngFor="let cat of categories | async" class="list-group-item">
          <a routerLink="/categories" [queryParams]="{ category : cat.name }" > {{cat.name}} </a>
        </li>
       
      </ul>
    </div>
    <!--end categories side bar-->

    <!--start products list-->
    <div class="col-md-9">
      <div class="row">
        <!--start product box-->
        <div *ngFor=" let prod of filteredProduct" class="product-box col-md-4">
          <img [src]="prod.payload.val().imageUrl">
          <div class="product-info">
            <p class="cat"> {{prod.payload.val().category}} </p>
            <h4>{{prod.payload.val().title}}</h4>
            <p class="price">{{prod.payload.val().price}}</p>
            <button *ngIf=" getQuantity(prod) === 0 ; else addTocartButton " href="#" class="btn btn-primary btn-block addtoCartButton" (click)="addToCart(prod)" >
              add to cart
            </button>
            <ng-template #addTocartButton >
              <div class="row text-center" >
                <div class="col-md-2" >
                    <button href="#" class="btn btn-primary btn-block addtoCartButton" (click)="removeFromCart(prod)" >
                        -
                      </button>
                </div>
                <div class="col-md-8">
                  {{ getQuantity(prod) }} in cart
                </div>
                <div class="col-md-2" >
                    <button href="#" class="btn btn-primary btn-block addtoCartButton" (click)="addToCart(prod)" >
                        +
                      </button>
                </div>
              </div>
            </ng-template>

          </div>
        </div>
        <!--end product box-->
      </div>
    </div>
    <!--end products list-->
  </div>
</div>
<!--end selcted category products-->