<!--start nav bar-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Beauty Fashion</a>
    </div>
    <ul class="nav navbar-nav">

      <!-- <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Shop
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Shoes</a></li>
          <li><a href="#">Clothing</a></li>
          <li><a href="#">Accessories</a></li>
        </ul>
      </li> -->
      <li><a routerLink="/categories">Categories</a></li>
      <li><a routerLink="/order-details">Order Details</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><i class="fas fa-cart-plus"></i></a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span></a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span></a></li>
    </ul>
  </div>
</nav>
<!--start nav bar-->